<h1>BrainHunt Data Viewing Dashboard</h1>
<div [hidden]="!readings" class="canvas-container">
  <canvas #chart></canvas>
</div>
<mat-form-field>
  <mat-label>Reading Session</mat-label>
  <mat-select [(ngModel)]="selectedReadingSession">
    <mat-option *ngFor="let rs of readingSessions" [value]="rs">
      {{rs.name}}
    </mat-option>
  </mat-select>
</mat-form-field>
<mat-list *ngIf="selectedReadingSession">
  <mat-list-item>
    <div class="reading-session-detail-row">
      <div class="reading-session-detail-item">
        <p class="mat-body"><b>Name:</b> {{selectedReadingSession.name}}</p>
      </div>
      <div class="reading-session-detail-item">
        <p class="mat-body"><b>Sample Rate:</b> {{selectedReadingSession.sample_rate}} Hz</p>
      </div>
      <div class="reading-session-detail-item">
        <p class="mat-body"><b>Number of Channels:</b> {{selectedReadingSession.number_of_channels}}</p>
      </div>
    </div>
  </mat-list-item>
  <mat-list-item>
    <div class="reading-session-detail-row">
      <div class="reading-session-detail-item">
        <p class="mat-body"><b>Number of Data Points:</b> {{selectedReadingSession.metadata?.brain_sample_count}}</p>
      </div>
    </div>
    <div class="reading-session-detail-row">
      <div class="reading-session-detail-item">
        <p class="mat-body"><b>Recorded at:</b> {{selectedReadingSession.metadata?.recorded_at}}</p>
      </div>
    </div>
    <div class="reading-session-detail-row">
      <div class="reading-session-detail-item">
        <p class="mat-body"><b>Length of Recording:</b> {{recordingDuration()}} seconds</p>
      </div>
    </div>
  </mat-list-item>
  <mat-list-item>
    <div class="reading-session-detail-row">
      <div class="reading-session-detail-item">
        <p class="mat-body"><b>Notes:</b> {{selectedReadingSession.notes || "None"}}</p>
      </div>
    </div>
  </mat-list-item>
  <mat-list-item>
      <button mat-button (click)="loadBrainSamples()">
        Load Data
      </button>
    </mat-list-item>
</mat-list>